/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;

$material_icons_font_path: "~node_modules/@elemental-ui/core/assets/MaterialIcons";
$cadence_font_path: "~node_modules/@elemental-ui/core/assets/Cadence";
$source_sans_pro_font_path: "~node_modules/@elemental-ui/core/assets/Source_Sans_Pro";

@import '@elemental-ui/core/src/styles/core.scss';


.imx-dialog-panel-class > .mat-dialog-container {
    background-color: mat.get-color-from-palette($asher-gray-palette, 200);
}

.mat-snack-bar-container.mat-snack-bar-center.eui-alert-banner-panel {
    position: fixed;
    left: 0;
}

// ToDo (als Teil von 254128): später wieder einbinden, wenn wir den Styleguide soweit haben
// .pageContent > :last-child > h1 {
//   font-size: 24px;
//   margin: 20px 0 15px 45px;
//   font-weight: 600;
// }

imx-data-explorer-groups,
imx-data-explorer-identities,
imx-data-explorer-accounts {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    > .data-explorer--groups,
    .data-explorer--accounts {
        flex: 1 1 auto;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-self:var(--alignself);
        width:var(--width);

        > :nth-child(2) {
            flex: 1 1 auto;
            display: flex;
            flex-direction: column;
        }
    }

    .data-explorer--accounts {
        > :nth-child(2) {
            overflow: hidden;
        }
    }

    .data-explorer-table {
        flex: 1 1 auto;
        overflow: hidden;
        display: flex;
        flex-direction: column;
    }

    .data-explorer-table .mat-sidenav-content {
        overflow-y: auto !important;
    }
}

.data-explorer.data-explorer--identities.identities--fullscreen
{
    display: flex !important;  // TODO: Task 268556 : Styling direkt in der Komponente umsetzen
    flex-direction: column;
   align-self:var(--alignself);
   width:var(--width);
}

.governance-sidesheet__tab-content {
    height: calc(100% - 120px);
}

.eui-dark-theme {
    .loading-progress{
        background-color: $color-gray-70;
    }
    .mat-tab-group .mat-tab-header{
        background-color:$color-gray-80;
    }
     .eui-sidesheet
    {
        background-color:$color-gray-80;
        .mat-toolbar{
            background-color: $color-blue-80;
           
        }
        .background--asher-gray{
            background-color: $color-gray-80;
        }
    }
    .eui-sidesheet-actions.mat-card.eui-sidesheet-actions--white{
        background-color: $color-gray-70;
    }
}

.eui-contrast-theme {
  .loading-progress{
      background-color: $color-gray-90;
  }
  .mat-tab-group .mat-tab-header{
      background-color:$color-gray-100;
  }
   .eui-sidesheet
  {
      background-color:$color-gray-100;
      .mat-toolbar{
          background-color: $color-blue-90;
         
      }
      .background--asher-gray{
          background-color: $color-gray-90;
      }
  }
  
  .eui-sidesheet-actions.mat-card.eui-sidesheet-actions--white{
      background-color: $color-gray-90;
  }
  .mat-card-subtitle{
    overflow: visible;
    display: flex;
}

}

tr.mat-row, th.mat-header-cell, td.mat-cell, td.mat-footer-cell{
    text-align-last:var(--textalignlast);
  }

.eui-sidesheet,.mat-calendar {
    direction:var(--direction);
}
.mat-dialog-title,.mat-card>:first-child, .mat-card-content>:first-child{
    direction: var(--direction);
  }
.eui-sidesheet .mat-toolbar{
    direction:var(--direction);
}
.eui-sidesheet-content,.eui-sidesheet-actions{
    direction:var(--direction);
}
 .mat-expansion-panel-header-title, .mat-expansion-panel-header-description{
    direction: var(--direction);
 }

.mat-dialog-title{
    direction: var(--direction);
  }
.mat-raised-button{
      margin: 3px !important;
    }
.mat-card-subtitle{
    overflow: visible;
    direction: var(--direction);
    //display: flex;
    align-self: var(--alignselfmatcardsubtitle);
}
.mat-card.mat-card.mat-focus-indicator.data-explorer{
    align-self: var(--alignself);
    width: var(--width);
}
.mat-card .mat-focus-indicator .imx-data-tree-container{
    align-self: var(--alignself);
    width: var(--width);
}
.mat-dialog-actions{
    direction: var(--direction);
}
.cmp-messagebox[_ngcontent-shp-c343]{
    direction: var(--direction);
}
.mat-dialog-content {
    direction: var(--direction);
}
.mat-drawer-content{
    width: var(--widthmatdrawer);
}
.imx-data-source-toolbar-container .imx-data-source-selected-filters .mat-chip .eui-icon.remove {
    font-size: 18px;
    margin-right: 3px !important;
}

 .mat-form-field-appearance-outline .mat-form-field-outline-gap {
  margin-right: 0 !important;
  margin-left: auto !important;
}

mat-toolbar {
  display: flex;
  align-items: center;
  gap: 0.5rem; /* optional spacing */
}

mat-toolbar > .eui-sidesheet__heading-text {
  flex: 1; /* pushes the close icon to the opposite edge */
  text-align: start; /* or right if in RTL */
}
::ng-deep eui-splash-screen eui-logo svg {
  display: none !important;
}

::ng-deep eui-splash-screen eui-logo {
  background-image: url("assets/hwyati.png") !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: contain !important;
  width: 120px !important;
  height: 56px !important;
  display: inline-block !important;
  color: transparent !important;
}










